body { padding-top: 70px; }
img { max-width:100%; }
fieldset { margin-bottom:15px; }
.tab-pane {
    padding:20px;
    padding-bottom:10px;
    border:1px solid #ddd;
    border-top:0px;
    margin-bottom:15px;
}
.orderTotals *{
    text-align:right !important;
    font-weight:bold;
    background-color:#f8f8f8;
}

.orderItems>tr>td:last-of-type {
    text-align:right;
    font-weight:bold;
}

.tableInput {
    max-width:100px;
}


#event_location{
    margin: 25px 15px;
    display: inline-block;
}
.fb_wid{
    margin: 25px 15px;
    display: inline-block;
}

.location {
    background-color: #F6F6F6;
    padding: 10px 0;
    margin: 2.5px 0;
    box-shadow: 1px 1px 1px #D4D4D4;
}

.location .loco{
    font-size: 16px;
    color: #5f5f5f;
    font-style: italic;
    font-weight: 600;
    padding: 8px 0;
    text-transform: capitalize;
}
.location p{
    font-size: 13px;
    color: #7a7a7a;
    letter-spacing: 0.5px;
    font-style: italic;
    line-height: 24px;
    padding: 0px 15px 5px 0;
}
.location li {
    float: left;
    margin: 8px;
}

.location span{
    margin: 15px 8px;
    display: inline-block;
}
.fa-map-marker{
    width: 25px;
    color: #72BF44;
    font-size: 16px;
}
.fa-phone-square{
    width: 25px;
    color: #72BF44;
    font-size: 16px;
}
.row{
    margin-right: 0px;
    margin-left: 0px;
}
