<div class="videos story drop-shadow facebook-wall-clearfix">
	<div class="video-content story-content" role="article">
		<div class="videos-header story-headline">
			<span class="videos-header-text"><%=localize('Videos')%></span>			
		</div>
		<div class="videos-body grid<%=this.numColumns%>">
			<% for(var i=0; i<this.data.length;i++){ %>
				<div class=' col <% if(i>this.showAtStart-1){ %>hide<% } %>'>
					<a class='video-cover-photo-wrapper jfw-lightbox-link' data-index='<%=i%>'>
						<img class='video-cover-photo' src="<%=this.data[i].picture%>" title="<%=this.data[i].descriptionss%>" />
					</a>
				</div>
			<% } %>
		</div>
	</div>
</div>