@media only screen and (min-width:768px) and (max-width:1024px){
/*	#tree-container{
		width: 25%;
		float: left;
	}
	#price_form{
		width: 50%;
		float: left;
	}
	.brands{
		width: 25%;
		float: left;
	}*/
	.pro-list-img img{
		width: 195px !important;
	}
	.filter{
		font-size: 14px !important;
	}
	.pagination{
		font-size: 14px !important;
	}
	#price_form{
		width: 100%;
	}
	#complete p{
		font-size: 12px;
	}
	
}
@media only screen and (min-width:767px){

}
@media only screen and (min-width:604px) and (max-width:967px){

}
@media only screen and (min-width:968px) and (max-width:991px){

}
@media screen and (device-width:640px) and (device-height:960px){

}