/*iphone-4--5*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) { 


/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px){
  .item h2{
    font-size: 15px !important;
  }  
  .login-btn{
    padding: 7px 5px !important;
  }
  .login-btn h1 {
    float: left;
    margin: 0px 5px !important;
    font-size: 13px !important;
    color: #FFF;
    letter-spacing: 1px;
    padding-top: 5px;
  }
  #custom_carousel .item{
    padding: 0px 10px !important;
  }
  #custom_carousel .controls li.activated{
    margin: 4px !important; 
  }
  #custom_carousel .controls li.deactive{
    margin: 4px !important;
  }
  #custom_carousel .controls li a{
    padding: 10px 10px;
  }
  .item h2{
    margin: 10px 0px 0px !important;
  }
  .mobile{
    margin-top: 20px;
  }
  .mobile-2{
    margin-top: 12px;
  }
  .login-btn span img{
    margin-top: 4px;
    width: 20px;
  }
  .add-to-cart{
    /*margin-left: 75px;*/
  }
  .login-reg{
    margin-right: 40px;
  margin-top: 15px;
  }
/*  .dynamic-img{
    height: 265px !important;
  }*/
  .management ul li span h5{
    width: 100% !important;
  }
  .management ul li span a{
    margin: 11px 0px 5px !important;
  }
  .pro-detial p {
    color: #727171;
    font-size: 10.5px !important;
    /*font-weight: 600;*/
    margin-bottom: -1px !important;
  }
  .unit-price p {
    font-size: 18px;
    /*margin: 32px 0px 32px 50px !important;*/
    color: #727171;
  }
  .pf{
    font-size: 24px !important;
  }
  #checkout .pro-detial p{
    color: #727171;
    font-size: 10px !important;
    /*font-weight: 600;*/
    margin-bottom: 1px !important;
  }
 .check-out{
    display: none;
  }
  .no-right-pad{
    padding-right: 15px !important; 
  }
  .pro-list-img img{
    width: 250px !important;
    height: 250px !important;
  }
  .service1-item{
    width: 91px !important;
  }
  .close-btn{
    padding: 8px 10px !important;
  }
  .shipping-address h4{
    font-size: 18px !important;
  }
  #checkout .white-strips{
    padding: 25px 5px !important;
  }
  .pro-img{
    height: 125px !important;
  }
  .set-mobile img{
    height: 104px !important;
    text-align: center;
    margin-left: 20px;
  }
  .set-ipad img{
    height: 119px !important;
    margin-left: 25px;
  }#checkout .pro-img{
    height: 140px !important;
  }
  #checkout .pro-img{
    padding: 10px 5px;
  }
  #checkout .pro-img img{
    height: 105px !important;
    margin-left: 10px;
  }
  .mobile_device{
    margin-top: 15px;
  }
/*  .title{
    width: 50%;
    float: left;
  }*/
  .total{
    width: 50%;
    float: left;
  }
  .total p{
    margin: -3px 0 -3px 0px !important;
  }
  .mobiles{
    border-left: 1px solid #CCC !important;
  }
  .table-propotation{
    border-right: 1px solid #ccc;
    padding: 45px 10px !important;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
  }
  .add-to-cart {
    float: right;
  }
  .myaccount{
    text-align: left !important;
    width: 50% !important;
  }
  #price_form{
    width: 100%;
  }
}

@media only screen and (min-width : 360px) and (max-width : 480px){
  .pro-detial p {
    color: #727171;
    font-size: 12px !important;
    /*font-weight: 600;*/
    margin-bottom: 12px !important;
  }
  .login-reg {
    margin-right: 60px;
    margin-top: 15px;
  }
  .add-to-cart {
    /*margin-left: 100px;*/
  }
    .pro-list-img img{
    width: 290px !important;
    height: 290px !important;
  }
    .service1-item{
    width: 104px !important;
  }
  .pro-img{
    height: 140px !important;
  }
  .set-mobile img{
    height: 118px !important;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen and (min-width : 480px) and (max-width : 320px){
    

}

/*iphone-4--5*/


/* iPhone 6 landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : landscape) { 

}

/*iPhone 6 Portrait*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) { 


}

/* iPhone 6 Plus landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px){


}

/* iPhone 6 Plus portrait */
@media only screen  and (min-device-width: 414px)  and (max-device-width: 736px){


}

/*iphone-6*/